
body{
	background-image:url('images/bg.jpg');
	background-color:#cccccc;
	background-size:100% 100%;
	text-align: center;
}
#divwrapper{
    	background: #FFF;
	margin: 0px auto;
	width: 80%;
	border: 2px solid #000;
	-moz-box-shadow:0 0 2px 5px #FFF;
	-webkit-box-shadow: 0 0 2px 2px #FFF;
}
#header{
	height: 150px;
	font-size:50px;
	color: #FFF;
}
#divbody{
	padding-left: 60px;
	padding-right: 60px;
	text-align: left;
	font-size:18px;
	
}
#divbody li{
	padding-left: 20px;
}
#divfooter{
	font-size:10px;
	text-align:center;
	margin-top: 25px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	
}
#para{
	text-align:center;
	 }
#bullets{
	padding-left: 60px;
	padding-right: 60px;
}
#map{
	width: 100%;
	border: 2px solid #000;
	height:600px;
	clear:both;
 	margin: 0px;
  	padding: 0px;
}
#tour{
	width:100%;
        clear:both;
	margin: 0px;
  	padding: 0px;
	float : right;	
}
#tour p{margin: 10px;}
#main{
	text-align: center;
	margin-top: 300px;
	height: 150px;
	font-size:50px;
	color: #FFF;
}
#main2{
	text-align: center;
	font-size:50px;
	height: 150px;
}
#main2 a{
	text-decoration : none;
	color: #000000;
}
#bar{
    overflow-x: scroll;
    overflow-y: hidden;
    height:auto;
    white-space:nowrap;
}
#pic{
    text-align:center;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    width:200px;
}
p.gallery {
    text-align:center;	
    margin-left: 10%;
    margin-right: 10%;
    font-size: small;
    width:150px;
    white-space: pre-wrap;
    

}
b.gallery {
    text-align:center;
	white-space:pre-wrap;
}
.clear { clear: both;}
#select{
	width: 300px;

    margin: 0;
}



