
body{
	background-image:url('images/bg.jpg');
	background-color:#cccccc;
	background-repeat :repeat;
	text-align: center;
	}

#divwrapper{
    background: #FFF;
	margin: 0px auto;
	width: 80%;
	border: 2px solid #000;
	-moz-box-shadow:0 0 2px 5px #FFF;
	-webkit-box-shadow: 0 0 2px 2px #FFF;
}
#header{
	height: 150px;
	font-size:50px;
	color: #FFF;
	}
#divbody{
	padding-left: 60px;
	padding-right: 60px;
	text-align: left;
	font-size:18px;
	
}
#divbody li{
	padding-left: 20px;
	}
#divfooter{
	font-size:10px;
	text-align:center;
	margin-top: 25px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	
}
#para{
	text-align:center;
	 }
#bullets{
	padding-left: 60px;
	padding-right: 60px;
}
#map-canvas{
	width: 650px;
	height:600px;
}


